html {
      height: 100%;
    }
    body {
       width: 800px;
       height: 100%;
       background-image:url("https://i.ytimg.com/vi/-0AaLzXyTNw/maxresdefault.jpg");
    }

    header {
        color: black;
        background-color: white;
        padding: 20px;
        border: 8px solid black;
        text-align: center;
        font-size: 30px ;
        display: block;
        font-family: arial black;
line-height: 1.4;
font-weight: normal;
font-stretch: normal;
font-variant: small-caps;
font-size: 16px;
    }
    nav {
        /*float: left;*/
      }
    nav ul {
        text-align: center;
        padding:5px;
      /*  float: middle; */
        font-family: arial;
line-height: 1.4;
font-weight: normal;
font-stretch: normal;
font-variant: lowercase;
font-size: 16px;
    }
    nav li {
        /*float: left;*/
              display: inline;
              text-align: center;
    }
    nav li a {
        height: 25px;
        padding: 12px 18px 8px 18px;
    }
    a {
        color: ;
    }
    section {
        width: 100%;
        display: inline-block;
        float: left;
        text-align: center;
        font-family: arial;
line-height: 1.4;
font-weight: normal;
font-stretch: normal;
font-variant: lowercase;
font-size: 16px;
    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: inline-block;
    }
  form {
    section {
      display: block;
    }
  }
